/* body {
    background-image: url("/assets/images/background.jpg");
    padding-top: 70px;
} */
body { 
    padding-top: 56px; 
  }
  
.jumbotron {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-variant: small-caps;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/newspaper2.jpg");
    background-size: cover;
    background-position: bottom;
  }

/* .deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
} */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  
  .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
  }
  
  .shadow-textarea textarea.form-control {
    border: 2px solid #0080f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }